body {
  color: #333;
  background-image: url("http://titechswimteam.web.fc2.com/back.jpg"); }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h3 {
  border-left: 5px solid #0cf;
  padding-left: 5px; }

header {
  padding: 1px 30px 0;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; }
  header .title a {
    color: #333; }
  header .slide-trigger {
    display: none; }
  header .global-nav ul {
    padding: 0;
    display: flex;
    justify-content: flex-end; }
    header .global-nav ul li {
      text-align: center;
      width: 85px;
      margin: 0 3px;
      background-color: #e3e3e3;
      line-height: 2;
      transition: background-color .3s linear; }
      header .global-nav ul li:nth-child(6) {
        margin-right: 0; }
      header .global-nav ul li:hover {
        background-color: #0cf; }
        header .global-nav ul li:hover a {
          color: #fff; }
      header .global-nav ul li a {
        font-weight: bold;
        display: block;
        color: #5c5c5c;
        transition: color .3s linear; }
  @media screen and (max-width: 800px) {
    header {
      display: block; }
      header .global-nav ul {
        justify-content: center; }
        header .global-nav ul li {
          background-color: #fff;
          border-right: 1px solid #666;
          margin: 0;
          width: calc(100% / 6); }
          header .global-nav ul li:first-child {
            border-left: 1px solid #666;
            margin-left: 0; }
          header .global-nav ul li:nth-child(6) {
            margin-right: 0; }
          header .global-nav ul li a {
            color: #333; } }
  @media screen and (max-width: 600px) {
    header {
      padding: 0;
      padding-top: 1px; }
      header .title {
        text-align: center; }
      header .global-nav ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
        header .global-nav ul li {
          border: none;
          width: calc(100% / 3);
          box-sizing: border-box;
          line-height: 2.5; }
          header .global-nav ul li:first-child {
            border: none; }
          header .global-nav ul li:nth-child(n+1):nth-child(-n+3) {
            border-top: 1px solid #ccc; }
          header .global-nav ul li:nth-child(-n+3) {
            border-bottom: 1px solid #ccc; }
          header .global-nav ul li:nth-child(3n+1), header .global-nav ul li:nth-child(3n+2) {
            border-right: 1px solid #ccc; }
          header .global-nav ul li a {
            font-weight: normal; } }

.main {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 30px; }
  .main .page-title {
    border-bottom: 1px solid #000; }
    .main .page-title::before {
      font-family: "Font Awesome 5 Free";
      content: '\f111';
      font-weight: 400; }
  .main .img-box {
    text-align: center; }
    .main .img-box img {
      width: 100%; }
  .main .flex-box {
    display: flex;
    justify-content: space-between; }
    .main .flex-box .main-column .news table {
      text-align: center;
      background-color: #fff;
      border-collapse: separate;
      border-spacing: 0;
      border: 1px solid #000;
      border-radius: 8px;
      overflow: hidden;
      line-height: 2.5;
      width: calc(100vw - 40px - 300px); }
      .main .flex-box .main-column .news table tr:first-child {
        background-color: #e3e3e3;
        border-radius: 8px; }
      .main .flex-box .main-column .news table tr {
        margin: 0 20px; }
        .main .flex-box .main-column .news table tr td:first-child {
          border-bottom: 1px solid #e3e3e3;
          background-color: #9c9c9c;
          width: 70px; }
        .main .flex-box .main-column .news table tr td:last-child {
          padding: 0 10px;
          border-bottom: 1px solid #9c9c9c;
          width: calc(100% - 30px);
          text-align: left; }
        .main .flex-box .main-column .news table tr:last-child td:first-child,
        .main .flex-box .main-column .news table tr:last-child td:last-child {
          border: none; }

.main .man,
.main .woman,
.main .ensuikai,
.main .contact {
  padding-bottom: 20px; }
@media screen and (max-width: 800px) {
  .main .man img,
  .main .woman img {
    width: 100%; } }
.main .contact .gothic {
  font-weight: bold; }
.main .obog-pubish {
  padding: 0;
  line-height: 2; }

.main .contact,
.main .minutes,
.main .other-info {
  padding-bottom: 20px; }
.main .minutes ul,
.main .other-info ul {
  padding: 0;
  line-height: 2; }

.main .members {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  line-height: 2;
  width: 30%;
  margin-right: 20px; }
  .main .members li {
    position: relative;
    background-color: #e3e3e3;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #000;
    border-left: 1px solid #000; }
    .main .members li .grade {
      padding: 0 10px; }
    .main .members li:first-child {
      border-top: 1px solid #000;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .main .members li:last-child {
      border-bottom: 1px solid #000;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .main .members li:last-child ul li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
    .main .members li .open-trigger0,
    .main .members li .open-trigger1,
    .main .members li .open-trigger2,
    .main .members li .open-trigger3 {
      position: absolute;
      right: 10px; }
    .main .members li ul {
      display: none;
      padding: 0; }
      .main .members li ul.is-open {
        display: block; }
      .main .members li ul li {
        padding: 0 10px;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #e3e3e3; }
        .main .members li ul li:first-child {
          border-top: none;
          border-radius: 0; }
        .main .members li ul li:last-child {
          border-bottom: none;
          border-radius: 0; }
.main .flex-box-member1 {
  display: flex; }
.main .member .name {
  border-left: 5px solid #0cf;
  padding-left: 5px; }
.main .member .flex-box-member2 {
  display: flex;
  padding-bottom: 30px; }
  .main .member .flex-box-member2 table {
    padding-left: 15px; }
    .main .member .flex-box-member2 table tr th {
      width: 75px;
      text-align: left;
      position: relative; }
      .main .member .flex-box-member2 table tr th::after {
        content: ":";
        position: absolute;
        right: 0; }

footer {
  border-top: 1px solid #000;
  text-align: center;
  background-color: #fff;
  padding-bottom: 1px; }
  footer nav ul {
    display: flex;
    padding: 0;
    justify-content: center; }
    footer nav ul li {
      border-left: 1px solid #e3e3e3;
      padding: 0 10px;
      font-size: 0.8em; }
      footer nav ul li:first-child {
        border: none; }
  footer small {
    color: #aaa; }

.main .swimming table {
  border-collapse: collapse;
  border-spacing: 0;
  display: none;
  line-height: 2;
  border: 1px solid #000;
  width: 100%;
  background-color: #fff; }
  .main .swimming table.show {
    display: table; }
  .main .swimming table th {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-left: 10px;
    background-color: #e3e3e3; }
  .main .swimming table td {
    padding-left: 10px; }

/*# sourceMappingURL=index.css.map */
