// desktop first

$breakpoints: (
  // for smart phone
  'sm': 400px,
  // for tablet
  'tb': 800px,
  // for PC
  'pc': 1200px,
);

// media query
@mixin mq($bp) {
  @media screen and (max-width: #{map-get($breakpoints, $bp)}) {
    @content;
  }
}

// css
body {
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding: 0 30px;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .slide-trigger {
    display: none;
  }
  .global-nav {
    ul {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      li {
        text-align: center;
        width: 85px;
        margin: 0 3px;
        background-color: #e3e3e3;
        line-height: 2;
        &.other {
          display: none;
        }
        &:nth-child(6) {
          margin-right: 0;
        }
        a {
          font-weight: bold;
          display: block;
        }
      }
    }
  }

  @include mq('tb') {
    display: block;
    .global-nav {
      ul {
        justify-content: center;
        li {
          background-color: #fff;
          border-right: 1px solid #666;
          margin: 0;
          width: calc(100% / 6);
          &:first-child {
            border-left: 1px solid #666;
            margin-left: 0;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    position: relative;
    .slide-trigger {
      display: block;
      position: fixed;
      width: 40px;
      right: 30px;
      top: 10px;
      span {
        transition: all .5s ease;
        position: relative;
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #333;
        &:first-child {
          top: 4px;
        }
        &:last-child {
          top: -4px;
        }
      }
      &.slide-nav {
        span {
          &:nth-child(1) {
            transform: translateY(14px) rotate(-45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-14px) rotate(45deg);
          }
        }
      }
    }
    .global-nav {
      transition: all 0.5s;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      right: 0;
      top: 80.542px;
      transform: translateX(100%);
      ul {
        margin: 0;
        display: list-item;
        li {
          border: none;
          border-bottom: 1px solid #ccc;
          width: 150px;
          line-height: 2.5;
          &:first-child {
            border: none;
            border-bottom: 1px solid #ccc;
          }
          a {
            font-weight: normal;
          }
        }
      }
      &.slide-nav {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
